*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#pontos {
    color: grey;
    font-size: 100px;
    position: fixed;
    margin-top: 0px;
    transition: 0.5s;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 62px;
    margin-top: 5%;
    margin-left: 32%;
    position: fixed;
    text-align: center;
    color: white;
    opacity: 70%;
}

h1:hover {
    color: grey;
}

#botão {
    margin-top: 17%;
    margin-left: 37%;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px ;
    color: white;
    background-color: grey;
    text-align: center;
    font-size: 100px;
    border-radius: 20px;
    transition: 0.5s;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-style: oblique;

}

#botão:hover{
    color: purple;
    background-color: white;
    transition: 0.2s;
    transform: scale(1.5);
    border-radius: 200px;
    font-style: oblique;
    cursor: pointer;
}
 
#botão:active{
    transform: scale(1.0);
    background-color: rgb(177, 177, 177);
    color: rgb(82, 21, 82);

}