*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    min-width: 300px;
}

#pontos {
    color: grey;
    font-size: 100px;
    position: fixed;
    margin-top: 0px;
    transition: 0.5s;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 62px;
    margin-top: 10%;
    margin-left: 27%;
    position: fixed;
    text-align: center;
    color: white;
    transition: 0.5s;
    transform: scale(1.0);
    opacity: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1:hover {
    color: grey;
}

#bot達o {
    margin-top: 25%;
    margin-left: 37%;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px ;
    color: white;
    background-color: grey;
    text-align: center;
    font-size: 100px;
    border-radius: 20px;
    transition: 0.5s;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-style: oblique;

}

#bot達o:hover{
    color: purple;
    background-color: white;
    transition: 0.2s;
    transform: scale(1.5);
    border-radius: 200px;
    font-style: oblique;
    cursor: pointer;
}
 
#bot達o:active{
    transform: scale(1.0);
    background-color: rgb(177, 177, 177);
    color: rgb(82, 21, 82);

}

@media(max-width: 800px){
    #bot達o{
        width: 10px;
        font-size: 70px;
        margin-left: 27%;
        margin-top: 400px;
        text-align: center;
        padding-left: 50px;
        padding-right: 190px;
        transform: scale(1.0);
    }
    h1{
        padding-left: 40px;
        margin-top: 200px;
        margin-left: 20px;
        font-size: 40px;
    }

    #pontos {
        margin-left: 1%;
    }


}